//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//
// TOTEM 38-key adaptation of the original Corne keymap
//
// Physical Totem order:
//
//             Q  W  E  R  T       Y  U  I  O  P
//             A  S  D  F  G       H  J  K  L  ;
//          X   Z  X  C  V  B       N  M  ,  .  /   Y
//                     GUI LWR SPC     ENT RSE ALT
//
// Migration choices:
// - Keep QWERTY positions unchanged.
// - Space stays on left thumb.
// - Enter stays on right thumb.
// - Lower/Raise stay in the same thumb positions.
// - Use the two outer bottom keys for CTRL and BACKSPACE.
// - TAB, SHIFT, ESC and apostrophe are provided through combos/layers.
//
// IMPORTANT: Totem's matrix transform has 38 logical positions in this order:
// 10 top + 10 home + 12 bottom + 6 thumbs.
//

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P
                &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI
                &kp LCTRL &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp BSPC
                &kp LGUI &mo 1 &kp SPACE &kp RET &mo 2 &kp LALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
                &kp C_MUTE &kp C_VOL_DN &kp LBKT &kp RBKT &kp C_VOL_UP &kp HOME &kp PG_DN &kp PG_UP &kp END &kp GRAVE
                &kp ESC &kp LG(LS(LBKT)) &kp LG(LS(RBKT)) &kp LPAR &kp GREATER_THAN &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp RET
                &kp BSPC &kp DEL &kp LBRC &kp RBRC &kp PRINTSCREEN &kp UNDER &kp PLUS &kp EQUAL &kp QMARK &kp SQT &trans &trans
                &kp LGUI &trans &kp SPACE &kp RET &trans &kp LALT
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
                &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT &kp PLUS &kp N7 &kp N8 &kp N9 &kp N0
                &kp CARET &kp SQT &kp DQT &kp GRAVE &kp AMPS &kp ASTRK &kp N4 &kp N5 &kp N6 &kp EQUAL
                &kp FSLH &kp PIPE &kp BSLH &kp AT &kp EURO &kp PRCNT &kp N1 &kp N2 &kp N3 &kp TAB &trans &trans
                &kp LGUI &trans &kp SPACE &kp RET &trans &kp LALT
            >;
        };

        adjust_layer {
            display-name = "Adjust";
            bindings = <
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &kp F7 &kp F8 &kp F9 &kp F10
                &kp LC(LS(ESC)) &kp LC(LA(DEL)) &trans &kp LC(LALT) &trans &kp F4 &kp F5 &kp F6 &kp F11 &kp F12
                &sys_reset &trans &trans &trans &trans &trans &kp F1 &kp F2 &kp F3 &kp F12 &trans &trans
                &trans &trans &trans &trans &trans &trans
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        tab_combo {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp TAB>;
        };

        esc_combo {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp ESC>;
        };

        shift_combo {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp LSHFT>;
        };
    };
};
