//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//
// TOTEM 38-key adaptation of the original Corne keymap
//
// Physical Totem order:
//
//             Q  W  E  R  T       Y  U  I  O  P
//             A  S  D  F  G       H  J  K  L  ;
//          X   Z  X  C  V  B       N  M  ,  .  /   Y
//                     GUI LWR SPC     ENT RSE ALT
//
// Migration choices:
// - Keep QWERTY positions unchanged.
// - Space stays on left thumb.
// - Enter stays on right thumb.
// - Lower/Raise stay in the same thumb positions.
// - Use the two outer bottom keys for CTRL and BACKSPACE.
// - TAB, SHIFT, ESC and apostrophe are provided through combos/layers.
//
// IMPORTANT: Totem's matrix transform has 38 logical positions in this order:
// 10 top + 10 home + 12 bottom + 6 thumbs.
//

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    /*
     * TOTEM 38-key
     *
     * Binding order:
     *   10 top + 10 home + 12 bottom + 6 thumbs = 38
     *
     * Base:
     *   Q W E R T       Y U I O P
     *   A S D F G       H J K L ;
     *   CTRL Z X C V B  N M , . / BSPC
     *          GUI LOWER SPACE | ENTER RAISE ALT
     */

    macros {
        /*
         * macOS/browser previous tab:
         * Cmd + Shift + [
         */

        previous_tab: previous_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LG(LS(LBKT))>;
        };

        /*
         * macOS/browser next tab:
         * Cmd + Shift + ]
         */

        next_tab: next_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp LG(LS(RBKT))>;
        };
    };

    combos {
        compatible = "zmk,combos";

        /* W + E = TAB */

        combo_tab {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp TAB>;
        };

        /* X + C = LEFT SHIFT */

        combo_shift {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp LSHFT>;
        };

        /* ; + / = apostrophe */

        combo_apos {
            timeout-ms = <50>;
            key-positions = <19 30>;
            bindings = <&kp APOS>;
        };

        rightshift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <29 28>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
           &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P
           &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp BSPC
                         &kp LGUI  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
          &kp N1   &kp N2         &kp N3    &kp N4     &kp N5       &kp N6    &kp N7     &kp N8     &kp N9     &kp N0
          &kp ESC  &previous_tab  &kp ESC   &kp LPAR   &kp RPAR     &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp RET
&kp BSPC  &kp DEL  &kp LBRC       &kp RBRC  &kp PSCRN  &kp UNDER    &kp PLUS  &kp EQUAL  &kp QMARK  &kp SQT    &trans   &trans
                                  &kp LGUI  &trans     &kp SPACE    &kp RET   &trans     &kp RALT
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
          &kp EXCL   &kp AT    &kp HASH  &kp DLLR   &kp PRCNT    &kp CARET     &kp AMPS     &kp ASTRK  &kp LPAR  &kp RPAR
          &kp MINUS  &kp SQT   &kp DQT   &kp GRAVE  &kp AMPS     &kp ASTRK     &kp EQUAL    &kp LBKT   &kp RBKT  &kp BSLH
&kp FSLH  &kp PIPE   &kp BSLH  &kp AT    &kp PRCNT  &kp TAB      &kp KP_MINUS  &kp KP_PLUS  &kp N3     &kp N4    &kp N5    &kp N6
                               &kp LGUI  &trans     &kp SPACE    &kp RET       &trans       &kp RALT
            >;
        };

        device {
            display-name = "Device";
            bindings = <
       &none       &kp C_BRI_DN  &kp C_BRI_UP  &none             &none    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
       &kp K_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PLAY_PAUSE  &none    &none         &none         &none         &none         &none
&none  &none       &none         &none         &none             &none    &none         &none         &none         &none         &none         &bt BT_CLR
                                 &none         &none             &none    &none         &none         &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
